image: cr.genos.nebtex.com/publicdev/golang:1.8

before_script:
  - mkdir -p /go/src /go/bin /go/src/github.com/nebtex
  - export GOPATH=/go
  - export PATH=$PATH:/go/bin
  - ln -s /builds/publicdev/menshend  /go/src/github.com/nebtex/menshend
  - cd /go/src/github.com/nebtex/menshend
  - echo $PWD
  - add-apt-repository ppa:masterminds/glide --yes &&  apt-get update -y
  - apt-get install glide make curl zip unzip -y

services:
  - vault:latest

variables:
  VAULT_DEV_ROOT_TOKEN_ID: "myroot"
  VAULT_DEV_LISTEN_ADDRESS: "0.0.0.0:8200"
  SKIP_SETCAP: "yes"

cache:
  key: "$CI_COMMIT_REF_NAME"
  paths:
  - vendor/
  untracked: true

stages:
  - deps
  - test
  - build
deps:
  stage: deps
  script:
    - glide install
#test:
#  stage: test
#  script:
#    - make test

build_master:
  stage: build
  only:
    - master
  script:
    - export MENSHEND_RELEASE=latest
    - make build

build_tags:
  stage: build
  only:
    - tags
  script:
    - export prefix=v
    - export MENSHEND_RELEASE=${CI_COMMIT_TAG#$prefix}
    - make build
